
.col-md-3.col-md-offset-4
  %h2= t('links.sign_up')
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group
      = f.label :first_name
      = f.text_field :first_name, class: 'form-control'
    .form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      = link_to t("links.sign_in"), new_session_path(resource_name), class: 'btn btn-default'
      = f.submit t('links.sign_up'), class: 'btn btn-primary' 
