%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th= t('issue.name')
    %th= t('issue.text')
    %th= t('issue.date')
    %th= t('issue.user')
    %th= t('issue.status')
    %th
   
  - @issues.each do |issue|
    - if issue.solved?
      %tr.success
    - else
      %tr
    %td= issue.name
    %td= issue.text
    %td= l(issue.date)
    %td= issue.user.first_name
    %td= issue.status
    %td
      = link_to t('links.edit'), edit_issue_path(issue), class: 'btn-sm btn-primary'
      = link_to t('links.issues.set_solved'), issue_path(:id => issue.id, :issue => {:status => :solved }), {:method => :patch, class: 'btn-sm btn-success'}
      = link_to t('links.destroy'), issue, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn-sm btn-danger'
      