%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th= t('issue.name')
    %th= t('issue.text')
    %th= t('issue.date')
    %th= t('issue.user')
    %th= t('issue.status')
    %th
   
  - @issues.each do |issue|
    
    %tr{class: row_class(issue)}
      %td= issue.name
      %td= issue.text
      %td
        .no-wrap= l(issue.date)
      %td= issue.user.first_name
      %td= issue.status
      %td
        .btn-group<
          =link_to t('links.edit'), edit_issue_path(issue), class: 'btn btn-sm btn-primary' unless issue.solved?
          =link_to t('links.issue.set_solved'), issue_path(:id => issue.id, :issue => {:status => :solved }), {:method => :patch, class: 'btn btn-sm btn-success'} unless issue.solved?
          =link_to t('links.delete'), issue, :method => :delete, :data => { :confirm => t('links.confirmation') }, class: 'btn btn-sm btn-danger'
            