.user-table
  %table.table.table-bordered.table-condensed.table-hover
    %tr
      %th First name
      %th Name
      %th Email
      %th Role
      %th Approved?
      %th
  
    - @users.each do |user|
      %tr{user_row_class(user)}
        %td= user.first_name
        %td= user.name
        %td= user.email
        %td= user.role.translated_name
        %td= user.approved
        %td
          .btn-group<
            = link_to t('links.user.profile'), user_path(user), class: 'btn btn-sm btn-default'
            = link_to t('links.edit'), edit_user_path(user), class: 'btn btn-sm btn-primary'
            = link_to t('links.delete'), user, :method => :delete, :data => { :confirm => t('links.confirmation') }, class: 'btn btn-sm btn-danger'
