%h1= t('user.profile')
%p
  %b= t('user.first_name')
  = @user.first_name
%p
  %b= t('user.name')
  = @user.name
%p
  %b= t('user.email')
  = @user.email
%p
  %b= t('user.role')
  = @user.role.name

%h3= t('links.edit_account')
= link_to t('links.edit_account'), edit_user_registration_path, class: 'btn btn-success'
  
%h3= t('devise.cancel_account')
= button_to t('devise.cancel_account'), registration_path(resource_name), :data => { :confirm => t('links.confirmation') }, :method => :delete, class: 'btn btn-danger'
 


