%h1
  = t('gallery.edit')
  = "'#{@gallery.name}'"
.tabs
  %ul.nav.nav-tabs
    %li{class: active_tab_class('general')}= link_to t('gallery.manage.general'), "?tab=general"
    - if @gallery.is_a? SelfHostedGallery
      %li{class: active_tab_class('images')}= link_to t('gallery.manage.images'), "?tab=images"
    - elsif @gallery.is_a? PicasaGallery
      %li{class: active_tab_class('images')}= link_to t('gallery.manage.picasa'), "?tab=images"
    %li{class: active_tab_class('permissions')}= link_to t('gallery.manage.permissions'), "?tab=permissions"
    %li{class: active_tab_class('preview')}= link_to t('gallery.manage.preview'), "?tab=preview"
