%h1= t('gallery.title')
%h5= t('gallery.index.description')

.gallery-table
  %table.table.table-bordered.table-condensed.table-hover
    %tr
      %th= t('gallery.name')
      %th= t('gallery.date')
      %th= t('gallery.owner')
      %th= t('gallery.images')
  
    - @galleries.each do |gallery|
      %tr
        %td= link_to gallery.name, gallery_path(gallery)
        %td= gallery.date
        %td= gallery.owner.full_name
        %td
          %span.badge= gallery.images.count 
