%h1 Listing galleries

%table.table.table-bordered.table-condensed.table-hover
  %tr
    %th= t('gallery.name')
    %th= t('gallery.images')
    %th

  - @galleries.each do |gallery|
    %tr
      %td= gallery.name
      %td= gallery.images.count
      %td 
        = link_to 'Show', gallery
        = link_to 'Edit', edit_gallery_path(gallery)
        = link_to 'Destroy', gallery, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Gallery', new_gallery_path
